---
title: Mil Hoornaert's Blog
layout: layouts/home.njk
description: Explore intentional living, self-discovery, and personal growth on Mil Hoornaert's minimalist blog. Dive into thought-provoking content on mindset, skills, and habits. Join us on the path to your best self.
image: https://blog.milh.tech/img/favicon/favicon-192x192.png?hash=480041913a
date: Last Modified
---
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GZE9F7CHNP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GZE9F7CHNP');
</script>
</head>

<p>
  Welcome to my minimalist blog, where I explore the art of intentional living. Join me on a journey of self-discovery and personal growth. Dive into thought-provoking posts on mindset, skills, habits, and more, as we embrace a life of purpose and meaning. This is not just a blog; it's a path to your best self.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
