---
title: Mil Hoornaert
layout: layouts/home.njk
description: My minamilstic blog, for interested people, not for people who are looking for dopamine.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Welcome to my minamilstic blog, for interested people, not for people who are looking for dopamine.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
