---
title: Mil Hoornaert
layout: layouts/home.njk
description: My minamilstic blog, for interested people, not for people who are looking for dopamine.
image: /img/favicon.svg
date: Last Modified
---
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GZE9F7CHNP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GZE9F7CHNP');
</script>
</head>

<p>
  Welcome to my minamilstic blog, for interested people, not for people who are looking for dopamine.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
