#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = (wc / 240) + 1 %}
   <aside>
     {{ wPerMinute | round }} min read.
      <a href="{{ page.url }}#disqus_thread">Comments</a>
   </aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GZE9F7CHNP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GZE9F7CHNP');
</script>
</head>

<h1>🙏🙏🙏</h1>
<p>
  Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share">sharing</a> this article on your favorite social media network 
  would be highly appreciated 💖!
</p>

<h2>Comments</h2>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://blog-rpsukxa1ts.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments</a></noscript>

<script id="dsq-count-scr" src="//blog-rpsukxa1ts.disqus.com/count.js" async></script>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}

